table {
  text-align: left;
  margin: 1em auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}
 th,  td {
  padding: 4px 8px;
}
 thead th {
  background: #333;
  text-align: left;
  font-size: 15px;
  color: #fff;
}
 tr {
  border-right: 1px solid #ddd;
}
 tbody tr {
  border-bottom: 1px solid #ccc;
}
 tbody tr:nth-child(odd) {
  background: #bbb;
}
 tbody th,  tbody tr:nth-child(even) td {
  /*background: #aaa;*/
  /*border-right: 1px solid ;*/
}
 tfoot th {
  background: #bbb;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  color: #aaa;
}
 tr *:nth-child(3),  tr *:nth-child(4) {
  text-align: left;
}