{% load staticfiles %}
<html>
<head>
	<title>Homepage | SoftLayer API Online Demonstration</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "ajax.css" %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="{% static "password_mask.js" %}" ></script>
	<script type="text/javascript" src="{% static "ajax.js" %}" ></script>
</head>
<body>
<div class="se-pre-con"></div>	
<div class="wrapper">
	<!-- Left-side Area -->
	<div class="api_area"> 
		<h2>使用到的 API 一覽表</h2>
		<hr>
		
		{# API DOCUMENT INCLUDE START #}
		{{api_doc_md | safe}}
		{# API DOCUMENT INCLUDE ENDS #}

	</div class="api_area">
	<!-- Right-side Area -->
	<div class="function_area"> 
		<h2> 
			<a href='{% url "home" %}'>Home</a> | 
			<a href='{% url "device" %}'>Device</a> | 
			<a href="">Storage</a> | 
			<a href='{% url "network" %}'>Network</a> | 
			<a href="">Support</a> | 
			<a href="">Account</a> |
		</h2> 
		<hr>


		{% if 'device' in request.path %}
		<h3> 
			<a href='{% url "device_list" %}'>Device_list</a> | 
			<a href="">Auto_scale</a> | 
		</h3> 
		{% elif 'network' in request.path %}
		<h3> 
			<a href='{% url "bandwidth_summary" %}'>Bandwidth Summary</a> | 
		</h3> 
		{% endif %}

		<hr> 
		
		{% if request.path == '/device/device_list/' %}
		{% include "device_list.html" %}{% endif %}

		{% if '/device/baremetal_detail' in request.path %}
		{% include "baremetal_detail.html" %}{% endif %}

		{% if '/device/virtual_server_detail' in request.path %}
		{% include "virtual_server_detail.html" %}{% endif %}

		{% if '/network/bandwidth_summary' in request.path %}
		{% include "bandwidth_summary.html" %}{% endif %}

{# 		<hr><h3>Debug Area</h3> #}
{# 		{{debug}} #}

		
	</div class="function_area"> 
</div class="wrapper">
</body>
</html>