{% load staticfiles %}
<html>
<head>
	<title>Homepage | SoftLayer API Online Demonstration</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "ajax.css" %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="{% static "json.js" %}" ></script>
	<script type="text/javascript">//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		$(".se-pre-con").fadeOut("slow");;
	});</script>
	<script type="text/javascript">
			$(document).ready(function() {
			  $('.pword').click(function() {
			    $('#'+this.id).attr('type', 'text');
			  });
			});			
	</script>
</head>
<body>
<div class="se-pre-con"></div>	
<div class="wrapper">
	<div class="api_area"> <!-- Left-side Area -->
		<h2>使用到的 API 一覽表</h2>
		<hr>

		{{api_doc_md | safe}}

	</div class="api_area">

	<div class="function_area"> <!-- Right-side Area -->
		<h2> 
			<a href='{% url "home" %}'>Home</a> | 
			<a href='{% url "device" %}'>Device</a> | 
			<a href="">Storage</a> | 
			<a href="">Network</a> | 
			<a href="">Support</a> | 
			<a href="">Account</a> |
		</h2> 
		<hr>


		{% if request.path == '/device/device_list' or '/device' %}
		<h3> 
			<a href='{% url "device_list" %}'>Device_list</a> | 
			<a href="">Auto_scale</a> | 
		</h3> 
		{% endif %}

		<hr> 
		
		{% if request.path == '/device/device_list/' %}
		<div class = 'table_area'> <!-- Table to list the devices -->
			<table class = 't1'>
			<h3 style='color: white'>Devices List</h3>
			<p>Viewing {{total_devices_number}} of {{total_devices_number}} Devices</p>
			<thead>
			<tr> <th>Device Name</th> <th>Device Type</th> <th>Location</th> <th>Public IP</th> <th>Private IP</th> <th>Start Date</th> </tr></thead>
			<tbody>
					{% for item in baremetal %}
					<tr><th> <a href="/device/device_detail/{{item.id}}">{{ item.fullyQualifiedDomainName }}</a> </th> <td>Bare Metal</td> <td> {{ item.topLevelLocation.longName }} </td> <td>{{ item.primaryIpAddress }}</td> <td>{{ item.primaryBackendIpAddress }}</td> <td> {{item.provisionDate}} </td> </tr>
					{% endfor %}
					{% for item in hourlyvirtualserver %}
					<tr><th><a href="/device/device_detail/{{item.id}}">{{ item.fullyQualifiedDomainName }}</a></th> <td> Virtual Server(Hourly) </td> <td> {{ item.location.id }} </td> <td>{{ item.primaryIpAddress }}</td> <td>{{ item.primaryBackendIpAddress }}</td> <td>{{item.provisionDate}}</td> </tr>
					{% endfor %}

					{% for item in monthlyvirtualserver %}
					<tr><th><a href="/device/device_detail/{{item.id}}">{{ item.fullyQualifiedDomainName }}</a></th> <td> Virtual Server(Monthly) </td> <td> {{ item.location.id }} </td> <td>{{ item.primaryIpAddress }}</td> <td>{{ item.primaryBackendIpAddress }}</td> <td>{{ item.provisionDate }}</td> </tr>
					{% endfor %}

			</tbody>
			</table>
		</div>
		{% endif %}


		{% if '/device/device_detail' in request.path %}
		<h3 style='color: white'>Device Detail</h3>
		<h3><strong style='color: black'>{{device_info.fullyQualifiedDomainName}}</strong> </h3>
		<p>Device Type:  {{device_type}}</p>
		<p>Device Public IP: {{device_info.primaryIpAddress}} </p>
		<p>Device Private IP: {{device_info.primaryBackendIpAddress}} </p>

		<table class = 't1'>
		<thead><tr><th><h3>General</h3></th><th></th></tr></thead>
		<tbody>
				<tr><th>Status</th> <td>{{device_info.hardwareStatus.status}}</td></tr>
				<tr><th>Location</th> <td> {{device_info.topLevelLocation.longName}} </td></tr>
				<tr><th>Start Date</th> <td> {{start_date}} </td></tr>
				<!-- <tr><th>Reloaded</th> <td></td></tr> -->
				<tr><th>Serial Number</th> <td>{{device_info.serialNumber}}</td></tr>
				<tr><th>MFR Serial Number</th> <td>{{device_info.manufacturerSerialNumber}}</td></tr>
		</tbody>
		</table>

		<table class = 't1'>
		<thead><tr><th><h3>System</h3></th><th></th></tr></thead>
		<tbody>
				<tr><th>OS</th> <td>{{os.softwareLicense.softwareDescription.longDescription}}</td></tr>
				<tr><th>RAM</th> <td>{{ram.0.hardwareComponentModel.longDescription}}</td></tr> <!-- ram.'0' 的 0 代表 index = 0 的記憶體 -->
				<tr><th>Processor</th> <td>{{processor.0.hardwareComponentModel.longDescription}}</td></tr>
				<tr><th>Mother Board</th> <td>{{motherboard.hardwareComponentModel.longDescription}}</td></tr>
				<tr><th>Power Supply</th> <td>{{powersupply.0.hardwareComponentModel.longDescription}}</td></tr>
				<tr><th>Drive Control</th> <td>{{drivecontroller.0.hardwareComponentModel.longDescription}}</td></tr>
		</tbody>
		</table>

		<table class = 't1'>
		<thead><tr><th><h3>Network</h3></th><th></th><th></th><th></th></tr></thead>
		<thead><tr><th></th><th>Public</th><th>Private</th><th>Management</th></tr></thead>
		<thead><tr><th></th><th>{{network_interface.primaryNetworkComponent.name}}{{network_interface.primaryNetworkComponent.port}}</th><th>{{network_interface.primaryBackendNetworkComponent.name}}{{network_interface.primaryBackendNetworkComponent.port}}</th><th>{{network_interface.remoteManagementComponent.name}}{{network_interface.remoteManagementComponent.port}}</th></tr></thead>
		<tbody>
				<tr><th>Status</th> <td>{{network_interface.primaryNetworkComponent.status}}</td><td>{{network_interface.primaryBackendNetworkComponent.status}}</td><td>{{network_interface.remoteManagementComponent.status}}</td></tr>
				<tr><th>IP Address</th> <td>{{ip_address_baremetal.primaryIpAddress}}</td><td>{{ip_address_baremetal.privateIpAddress}}</td><td>{{ip_address_baremetal.networkManagementIpAddress}}</td></tr>
				<tr><th>Default Gateway</th> <td>{{default_dateway_baremetal.0}}</td><td>{{default_dateway_baremetal.1}}</td><td>{{default_dateway_baremetal.2}}</td></tr>
				<tr><th>Subnet Mask</th> <td>{{subnet_mask_baremetal.0}}</td><td>{{subnet_mask_baremetal.1}}</td><td>{{subnet_mask_baremetal.2}}</td></tr>
				<tr><th>Speed</th> <td>{{network_interface.primaryNetworkComponent.speed}} Mbps</td><td>{{network_interface.primaryBackendNetworkComponent.speed}} Mbps</td><td>{{network_interface.remoteManagementComponent.speed}} Mbps</td></tr>
				<tr><th>Max Speed</th> <td>{{network_interface.primaryNetworkComponent.maxSpeed}} Mbps</td><td>{{network_interface.primaryBackendNetworkComponent.maxSpeed}} Mbps</td><td>{{network_interface.remoteManagementComponent.maxSpeed}} Mbps</td></tr>
				<!-- <tr><th>VLAN</th> <td></td><td></td><td></td></tr> -->
		</tbody>
		</table>
		
		<table class = 't1'>
		<thead><tr><th><h3>Password</h3></th><th></th><th></th></tr></thead>
		<tbody>
			<thead><tr><th>Username</th><th>Password</th><th>Modified Date</th></tr></thead>
			{% for item in baremetal_credential %}
				<tr><th>{{item.username}}</th><td><input type="password" class="pword" id='pword{{forloop.counter}}' name="pword" value={{item.password}}/></td><td>{{item.modifyDate}}</td></tr>				
			{% endfor %}

		</tbody>
		</table>

		{% endif %}

<!-- 		<hr><h3>Debug Area</h3>
		{{debug}}
 -->
		
	</div class="function_area"> 
</div class="wrapper">
</body>
</html>