<!-- user.html --> 
<!DOCTYPE>
{% load staticfiles %}
<head>
	<title>Billing</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "ajax.css" %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="{% static "json.js" %}" ></script>
	<script type="text/javascript">//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		$(".se-pre-con").fadeOut("slow");;
	});</script>
</head>
<body>
		<div class="se-pre-con"></div>	
		<div class="wrapper">
			<div class="api_area"> <!-- Left-side Area -->
				<h2>使用到的 API 一覽表</h2>
				<hr>
				{{api_billing_doc | safe}}
			</div class="api_area">
			<div class="function_area"> <!-- Right-side Area -->
			<h2>Billing:	Invoice	{{ doc1.id }}</h2>
			<table border=0>
				<tr>
					<th>Amount</th>
					<th>Tax</th>
					<th></th>
				</tr>
				<tr>
					<td>Total Recurring Fee</td>
					<td>{{ doc1.invoiceTotalRecurringAmount }}</td>
					<tr>
						<td>Total Recurring Tax</td>
						<td>{{ doc1.invoiceTotalRecurringTaxAmount }}</td>
						<td></td>
					</tr>
					<td>Total One Time Fee</td>
					<td>{{ doc1.invoiceTotalOneTimeAmount }}</td>
					<td></td>
					<tr>
						<td>Total One Time Fee</td>
						<td>{{ doc1.invoiceTotalOneTimeTaxAmount }}</td>
						<td></td>
						<tr>
							<td>Total Amount</td>
							<td>{{ doc1.invoiceTotalAmount }}</td>
						
						</tr>
					</table>
					<body>	
						<h2>Last Recurring Invoice : </h2>
						<h3>
							<a href = "https://control.softlayer.com/accounting/invoice/download/id/6080733/type/pdf/status/OPEN">08/01/2015 Invoice PDF</a>
						</h3>
						<h3>
							<a href = "https://control.softlayer.com/accounting/invoice/download/id/6080733/type/pdfDetailed/status/OPEN">08/01/2015 Details PDF</a>
						</h3>
						<h3>
							<a href = "https://control.softlayer.com/accounting/invoice/download/id/6080733/type/excel/status/OPEN">08/01/2015 Invoice Excel</a>
						</h3>
						<h2>Group se Invoice</h2>
						<table border=0>
							<tr>
								<th>Host Name</th>
								<th>Recurring Fee(USD)</th>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.0.0 }}</td>
								<td>{{ get_Invoice_by_se.0.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.1.0 }}</td>
								<td>{{ get_Invoice_by_se.1.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.2.0 }}</td>
								<td>{{ get_Invoice_by_se.2.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.3.0 }}</td>
								<td>{{ get_Invoice_by_se.3.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.8.0 }}</td>
								<td>{{ get_Invoice_by_se.8.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.9.0 }}</td>
								<td>{{ get_Invoice_by_se.9.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.10.0 }}</td>
								<td>{{ get_Invoice_by_se.10.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.11.0 }}</td>
								<td>{{ get_Invoice_by_se.11.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.12.0 }}</td>
								<td>{{ get_Invoice_by_se.12.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.13.0 }}</td>
								<td>{{ get_Invoice_by_se.13.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.14.0 }}</td>
								<td>{{ get_Invoice_by_se.14.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.15.0 }}</td>
								<td>{{ get_Invoice_by_se.15.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_se.16.0 }}</td>
								<td>{{ get_Invoice_by_se.16.1 }}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>640.126</td>
							</tr>
						</table> 
						<h2>Group ks Invoice</h2>
						<table border=0>
							<tr>
								<th>Host Name</th>
								<th>Recurring Fee(USD)</th>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_ks.0.0 }}</td>
								<td>{{ get_Invoice_by_ks.0.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_ks.1.0 }}</td>
								<td>{{ get_Invoice_by_ks.1.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_ks.2.0 }}</td>
								<td>{{ get_Invoice_by_ks.2.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_ks.3.0 }}</td>
								<td>{{ get_Invoice_by_ks.3.1 }}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>710.5</td>
							</tr>
						</table> 
						<h2>Group ag Invoice</h2>
						<table border=0>
							<tr>
								<th>Host Name</th>
								<th>Recurring Fee(USD)</th>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_ag.0.0 }}</td>
								<td>{{ get_Invoice_by_ag.0.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_ag.1.0 }}</td>
								<td>{{ get_Invoice_by_ag.1.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_ag.3.0 }}</td>
								<td>{{ get_Invoice_by_ag.3.1 }}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>636.56</td>
							</tr>
						</table> 
						<h2>Group tt Invoice</h2>
						<table border=0>
							<tr>
								<th>Host Name</th>
								<th>Recurring Fee(USD)</th>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_tt.0.0 }}</td>
								<td>{{ get_Invoice_by_tt.0.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_tt.15.0 }}</td>
								<td>{{ get_Invoice_by_tt.15.1 }}</td>
							</tr>
							<tr>
								<td>{{ get_Invoice_by_tt.16.0 }}</td>
								<td>{{ get_Invoice_by_tt.16.1 }}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>172.272</td>
							</tr>
						</table> 
					</body>
					</table>
		</body>
</html>

