{% load staticfiles %}
<html>
<head>
    <title>Homepage | SoftLayer API Online Demonstration</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link rel="stylesheet" type="text/css" href="../static/table.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="{% static "json.js" %}" ></script>
</head>

<div class="wrapper">
        <div class = 'CSSTableGenerator'> <!-- Table to list the devices -->

            <table class="t1" summary="Top 10 downloaded movies in 2011 using BitTorrent, in descending order, listing number of downloads and worldwide cinema grosses">
            <caption>Most Downloaded Movies on BitTorrent, 2011</caption>
            <thead>
            <tr><th>Rank</th><th>Movie</th><th>Downloads</th><th>Grosses</th></tr>
            </thead>
            <tfoot>
            <tr><th colspan="4">torrentfreak.com</th></tr>
            </tfoot>
            <tbody>
            <tr><th>1</th><td>Fast Five</td><td>9,260,000</td><td>$626,137,675</td></tr>
            <tr><th>2</th><td>The Hangover II</td><td>8,840,000</td><td>$581,464,305</td></tr>
            <tr><th>3</th><td>Thor</td><td>8,330,000</td><td>$449,326,618</td></tr>
            <tr><th>4</th><td>Source Code</td><td>7,910,000</td><td>$123,278,618</td></tr>
            <tr><th>5</th><td>I Am Number Four</td><td>7,670,000</td><td>$144,500,437</td></tr>
            <tr><th>6</th><td>Sucker Punch</td><td>7,200,000</td><td>$89,792,502</td></tr>
            <tr><th>7</th><td>127 Hours</td><td>6,910,000</td><td>$60,738,797</td></tr>
            <tr><th>8</th><td>Rango</td><td>6,480,000</td><td>$245,155,348</td></tr>
            <tr><th>9</th><td>The King’s Speech</td><td>6,250,000</td><td>$414,211,549</td></tr>
            <tr><th>10</th><td>Harry Potter and the Deathly Hallows Part 2</td><td>6,030,000</td><td> $1,328,111,219</td></tr>
            </tbody>
            </table>

        </div>
</div class="wrapper">

<table class="t1" summary="Top 10 downloaded movies in 2011 using BitTorrent, in descending order, listing number of downloads and worldwide cinema grosses">
<caption>Most Downloaded Movies on BitTorrent, 2011</caption>
<thead>
<tr><th>Rank</th><th>Movie</th><th>Downloads</th><th>Grosses</th></tr>
</thead>
<tfoot>
<tr><th colspan="4">torrentfreak.com</th></tr>
</tfoot>
<tbody>
<tr><th>1</th><td>Fast Five</td><td>9,260,000</td><td>$626,137,675</td></tr>
<tr><th>2</th><td>The Hangover II</td><td>8,840,000</td><td>$581,464,305</td></tr>
<tr><th>3</th><td>Thor</td><td>8,330,000</td><td>$449,326,618</td></tr>
<tr><th>4</th><td>Source Code</td><td>7,910,000</td><td>$123,278,618</td></tr>
<tr><th>5</th><td>I Am Number Four</td><td>7,670,000</td><td>$144,500,437</td></tr>
<tr><th>6</th><td>Sucker Punch</td><td>7,200,000</td><td>$89,792,502</td></tr>
<tr><th>7</th><td>127 Hours</td><td>6,910,000</td><td>$60,738,797</td></tr>
<tr><th>8</th><td>Rango</td><td>6,480,000</td><td>$245,155,348</td></tr>
<tr><th>9</th><td>The King’s Speech</td><td>6,250,000</td><td>$414,211,549</td></tr>
<tr><th>10</th><td>Harry Potter and the Deathly Hallows Part 2</td><td>6,030,000</td><td> $1,328,111,219</td></tr>
</tbody>
</table>

</html>