<!-- ticket.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Ticket</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "ajax.css" %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="{% static "json.js" %}" ></script>
	<script type="text/javascript">//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		$(".se-pre-con").fadeOut("slow");;
	});</script>
</head>
	<body>
		<div class="se-pre-con"></div>	
		<div class="wrapper">
			<div class="api_area"> <!-- Left-side Area -->
				<h2>使用到的 API 一覽表</h2>
				<hr>
				{{api_doc | safe}}

			</div class="api_area">
			<div class="function_area"> <!-- Right-side Area -->
				<h2>Ticket List</h2>
				<table border=0>
					<tr>
						<th>Ticket #</th>
						<th>Subject/Title</th>
						<th>Last Replied</th>
						<th>CreateDate</th>
					</tr>
					<tr>
						<td>{{ doc2.id }}</td>
						<td>{{ doc2.title }}</td>
						<td>{{ doc2.lastEditType }}</td>
						<td>{{ doc2.createDate }}</td>
					</tr>
					<tr>
						<td>{{ doc1.id }}</td>
						<td>{{ doc1.title }}</td>
						<td>{{ doc1.lastEditType }}</td>
						<td>{{ doc1.createDate }}</td>
					</tr>
				</table> 
				<h3>Add Ticket </h3>
				<table border=0>
					<tr>
						<th>Ticket #</th>
						<th>Subject/Title</th>
						<th>Last Replied</th>
						<th>CreateDate</th>
						<th>Details</th>
					</tr>
					<tr>
						{% for post in new_ticket %}
						<td>{{ post.ticket_num }}</td>
						<td>{{ post.subject }}</td>
						<td>{{ post.assign_to }}</td>
						<td>{{ post.created_at|date:"Y-m-d" }}</td>
						<div></div>
						{% endfor %}
					</tr>
				</table>
			</body>
</html>