<!-- user.html --> 
<!DOCTYPE>
{% load staticfiles %}
<html>
<head>
	<title>Users</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "ajax.css" %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="{% static "json.js" %}" ></script>
	<script type="text/javascript">//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		$(".se-pre-con").fadeOut("slow");;
	});</script>
</head>
<body>
		<div class="se-pre-con"></div>	
		<div class="wrapper">
			<div class="api_area"> <!-- Left-side Area -->
				<h2>使用到的 API 一覽表</h2>
				<hr>
				{{api_user_doc | safe}}

			</div class="api_area">
			<div class="function_area"> <!-- Right-side Area -->
			<table border=0>
				<tr>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Username</th>
					<th>Status</th>
					<th>APIkey</th>
				</tr>
				<tr>
					<td>{{ doc1.lastName }}</td>
					<td>{{ doc1.authenticationToken.user.firstName }}</td>
					<td><a href = '{% url "profile" %}'>{{ doc1.username }}</a></td>
					<td>{{ doc1.userStatus.name }}</td>
					<td>{{ doc1.apiAuthenticationKeys.0.authenticationKey }}</td>
				</tr>
				<tr>
					<td>{{ doc1.authenticationToken.user.childUsers.0.lastName }}</td>
					<td>{{ doc1.authenticationToken.user.childUsers.0.firstName }}</td>
					<td><a href = '{% url "internpro" %}'>{{ doc1.authenticationToken.user.childUsers.0.username }}</a></td>
					<td>{{ doc1.authenticationToken.user.childUsers.0.userStatus.name }}</td>
					<td>{{ doc2.apiAuthenticationKeys.0.authenticationKey }}</td>
				</tr>
			</table> 
		</body>
</html>
